
<div class="button-container">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu" class="menu-container">
  <button mat-menu-item>
    <a class="menu-item-text" href="home">Home</a>
  </button>
  <button mat-menu-item>
    <a class="menu-item-text" href="pedido">Realizar pedido</a>
  </button>
  <button mat-menu-item>
    <a class="menu-item-text" href="contactos">Contactanos</a>
  </button>
  <button mat-menu-item>
    <a class="menu-item-text" href="inventario">Login</a>
  </button>
</mat-menu>
<router-outlet></router-outlet>
<app-footer></app-footer>

