<header>
    <h1>Contacto</h1>
  </header>

  <main>
    <section class="contact-info">
      <h2>Información de contacto</h2>
      <p>Tienda de Ferretería XYZ</p>
      <p>Dirección: Calle Principal 123, LA PAZ</p>
      <p>Teléfono: 73555-1234</p>
      <p>Email: info@ferreteriaxyz.com</p>
      <h2>Encuentranos aquí: </h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15300.273183697482!2d-68.13042391276159!3d-16.52264939158766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f20ee187a3103%3A0x2f2bb2b7df32a24d!2sUniversidad%20Cat%C3%B3lica%20Boliviana%20%22San%20Pablo%22!5e0!3m2!1ses-419!2sbo!4v1685948780348!5m2!1ses-419!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section class="contact-form">
      <h2>Envíanos un mensaje</h2>
      <form>
        <input type="text" placeholder="Nombre" required>
        <input type="email" placeholder="Correo electrónico" required>
        <textarea placeholder="Mensaje" required></textarea>
        <button type="submit">Enviar</button>
      </form>
      <br><br>
    </section>

    <div class="chat-container">
        <div class="chat-header">
          <h2>Chat de Preguntas Frecuentes</h2>
        </div>
    
        <div class="chat-body">
          <div class="message">
            <div class="user-message">¿Cuál es su horario de atención?</div>
            <div class="bot-message">Nuestro horario de atención es de lunes a viernes de 8:00 a.m. a 6:00 p.m.</div>
          </div>
    
          <div class="message">
            <div class="user-message">¿Realizan envíos?</div>
            <div class="bot-message">Sí, realizamos envíos a toda la ciudad. El costo de envío depende de la ubicación y el peso del paquete.</div>
          </div>
    
          <div class="message">
            <div class="user-message">¿Cuáles son los métodos de pago aceptados?</div>
            <div class="bot-message">Aceptamos pagos en efectivo, tarjetas de crédito y débito, así como transferencias bancarias.</div>
          </div>
    
          <!-- Agrega más preguntas y respuestas aquí -->
    
        </div>
    
        <div class="chat-footer contact-form">
          <input type="text" placeholder="Escribe tu pregunta">
          <button type="submit">Enviar</button>
        </div>
      </div>
  </main>